* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  text-align: center;
}

h1 {
  padding: 10px;
}

button {
  margin-left: 20px;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  margin: 0 auto;
}

.input_container {
  margin-top: 10px;
}

.buttons {
  margin-top: 15px;
}
